# Python gereksizleri
__pycache__/
*.py[cod]
*$py.class

# EXE yaparken oluşan devasa klasörler (KESİNLİKLE ENGELLE!)
build/
dist/
*.spec

# Sanal ortamlar
venv/
env/

# İşletim sistemi çöpleri
.DS_Store
Thumbs.db
